body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $primary-fonts;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
}
section{
    padding: 50px 0;
}
.main-page{
    height: calc(100vh - 64px);
}
form{
    width: 100%;
    .form-wrapper{   
        display: flex;
        flex-wrap: wrap;
        margin: 0 -10px -10px;
        .from-group{
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 10px 10px;
        }
    
}
}





.file-upload-wrapper{
    border: 1px solid grey;
    padding: 20px;

    &.multiple-file{
        .file-count{
            margin-left: 5px;
        }
        .multiple-file-block{
            padding: 10px;
            border: 1px solid grey;
            margin-top: 10px;
            .file{
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                padding-left: 23px;
                &::before{
                    position: absolute;
                    content: '';
                    background-image: url(./images/file-icon.svg);
                    height: 20px;
                    width: 20px;
                    left: 0;
                    background-size: contain;
                    top: 1px;
                }
                + .file{
                    margin-top: 5px;
                }
                button{
                    outline: none;
                    border: none;   
                    background-color: transparent;
                    mat-icon{
                        font-size: 20px;
                        height: 20px;
                        width: 20px;
                    }
                }
            }
        }
    }
    + .file-upload-wrapper{
        margin-top: 10px;
    }    
    h3{
        margin-bottom: 20px;
    }
    .file-upload{
        display: flex;
        align-items: center;
        cursor: pointer;
        button{
            position: relative;
            padding: 0;
            .mdc-button__label{
                height: 100%;
                width: 100%;
                padding: 8px 15px 10px;
                cursor: pointer;
            }
            input{
                position: absolute;
                left: 0 ;
                top: 0;
                height: 100%;
                width: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }
        .file-name{
            margin: 0 0 0 5px;
            display: inline-flex;
            align-items: center;
            mat-icon{
                margin-left: 5px;
            }
        }
        &.browse-file{
            border: 1px dashed gray;
            flex-direction: column;
            padding: 10px;
            position: relative;
            margin-bottom: 5px;
            cursor: pointer;
            button{
                z-index: 0;
            }
            em{
                display: block;
                mat-icon{
                    font-size: 42px;
                    height: 42px;
                    width: 42px;
                    display: block;
                }
            }
            p{
                font-size: 18px;
                text-align: center;
                margin: 10px 0;
                line-height: 1.3;
                font-weight: 500;
                span{
                    display: block;
                }
            }
            input{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                opacity: 0;
                cursor: pointer;
            }
        }
       
    }
    .file-formate{
        color: rgb(133, 136, 139);
        margin: 0;
        margin-top: 5px;
        // width: 110px;
        // overflow: hidden;
        // text-overflow: ellipsis;
    }
}


